  html, body, .container{
     height: 100%;
     font-family: Arial, Helvetica, sans-serif;
     color: white;
  }
  
  
  
  body {
     background-image: url(./image/background-adare-restaurant.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     background-color: #272727;
     background-attachment: fixed;
  }
 
 .container {
    width: 1024px;
 margin-left: auto;
 margin-right: auto;

 }

 header{
    height: 118px;
   text-align: center;
 }

 nav {
    height: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.34);
    padding: 5px 0 10px;
 }
 ul li{
    list-style: none;
    display: inline-block;
 }
 li a{
 color: white;
 text-decoration: none;
 margin: 0 10px;
 }

 main {
    text-align: center;
    color: white;
    height: 400px;
    padding: 80px 25% 0;
 }
 h1{
     font-size: 86px;
 }
 main a {
   color: white;
   text-transform: uppercase;
 }

 footer {
   height: 100px;
   background-color: rgba(0, 0, 0, 0.34);
   display: grid;
   place-items: center;

   /* display: flex;
   align-items: center;
   justify-content: center; */
 }
   /* menu styles */

   .menu {
      padding: 0px;
      min-height: 1200px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
.frame {
   width: 27%;
   height: calc((20vw - 20px) / 16 *9);
   background-color: orange;
 /* display: flex;
 justify-content: center; */
  display: grid;
   place-items: center;
   background-position: center;
   background-size: cover;
}
.frame p {
   display: grid;
   place-items: center;
   margin-top: 50px;
   width: 100%;
   height: 100%;
   opacity: 0;
   background-color: rgba(0, 0, 0, 0.54);
   background-position: center;
   background-size: cover;

  transition: all 0.4s ease-in-out;
}
.frame p:hover {
   margin-top: 15px;
   opacity: 1;
}
#food1 {
   background-image: url(./image/food1.jpg);
}

#food2 {
   background-image: url(./image/food2.jpg);
}
#food3 {
   background-image: url(./image/food3.jpg);
}
#food4 {
   background-image: url(./image/food4.jpg);
}
#food5 {
   background-image: url(./image/food5.jpg);
}
#food6 {
   background-image: url(./image/food6.jpg);
}
#food7 {
   background-image: url(./image/food7.jpg);
}
#food8 {
   background-image: url(./image/food8jpg.jpg);
}
#food9 {
   background-image: url(./image/food9.jpg);
}
#food10 {
   background-image: url(./image/food10.jpg);
}
#food11 {
   background-image: url(./image/food11.jpg);
}
#food12 {
   background-image: url(./image/food12.jpg);
}
h1 {
   text-align: center;
}
main a{
   text-align: center;
   color: white;
   font-size: 25px;
   margin-bottom: 20px;
   text-decoration: none;
}